<!-- Displaying / Editing Devices -->
<mat-accordion>
  <mat-expansion-panel
    *ngFor="let device of (testbed | async)?.devices | keyvalue; trackBy: trackDeviceBy"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ device.key }}
      </mat-panel-title>
      <mat-panel-description>
        {{ device.value.alias }} {{ device.value.os ? '| ' + device.value.os : '' }}
        {{ device.value.role ? '| ' + device.value.role : '' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <shh-add-device
      [ctx]="device.value"
      (changes)="handleDeviceChanges(device.key, $event)"
    ></shh-add-device>
    <mat-accordion>
      <!-- display / edit connections -->
      <mat-expansion-panel
        *ngFor="let connection of device.value.connections | keyvalue; trackBy: trackConnectionBy"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ connection.key }}
          </mat-panel-title>
          <mat-panel-description>
            {{ connection.alias }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <shh-add-connection
          [ctx]="connection.value"
          (changes)="handleConnectionsChanges(device.key, connection.key, $event)"
        ></shh-add-connection>
        <mat-action-row>
          <button
            (click)="removeConnection(device.key, connection.key)"
            mat-raised-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- end display connection -->
      <!-- new connections -->
      <mat-expansion-panel (keypress)="connectionKeyUpHandler($event, device.key)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Connection
          </mat-panel-title>
          <mat-panel-description>
            Add a new connection
          </mat-panel-description>
        </mat-expansion-panel-header>

        <shh-add-connection
          #connectionRef
          (valid)="validConnection = $event"
          (changes)="handleNewConnectionChanges($event)"
        ></shh-add-connection>
        <mat-action-row>
          <button (click)="clearConnectionCtx()" mat-raised-button>
            <mat-icon>block</mat-icon>
          </button>
          <button
            (click)="addConnection(device.key)"
            mat-raised-button
            color="primary"
            [disabled]="!validConnection"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- enf new connections -->
    </mat-accordion>
    <mat-action-row>
      <button mat-raised-button color="warn" (click)="removeDevice(device.key)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Adding Devices -->
  <mat-expansion-panel [expanded]="showNew" (keypress)="deviceKeyUpHandler($event)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Device
      </mat-panel-title>
      <mat-panel-description>
        Add a new device
      </mat-panel-description>
    </mat-expansion-panel-header>

    <shh-add-device
      #newDeviceRef
      (changes)="handleNewDeviceChanges($event)"
      (valid)="validDevice = $event"
    ></shh-add-device>
    <!-- connections -->
    <mat-accordion>
      <!-- display / edit connections -->
      <mat-expansion-panel
        *ngFor="let connection of ctxDevice.connections | keyvalue; trackBy: trackConnectionBy"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ connection.key }}
          </mat-panel-title>
          <mat-panel-description>
            {{ connection.alias }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <shh-add-connection
          [ctx]="connection.value"
          (changes)="handleNewConnectionEdit(connection.key, $event)"
        ></shh-add-connection>
        <mat-action-row>
          <button (click)="removeNewConnection(connection.key)" mat-raised-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- end display connections -->

      <!-- new connections -->
      <mat-expansion-panel (keypress)="connectionKeyUpHandler($event)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Connection
          </mat-panel-title>
          <mat-panel-description>
            Add a new connection
          </mat-panel-description>
        </mat-expansion-panel-header>

        <shh-add-connection
          #newConnectionRef
          (valid)="validConnection = $event"
          (changes)="handleNewConnectionChanges($event)"
        ></shh-add-connection>
        <mat-action-row>
          <button (click)="clearConnectionCtx()" mat-raised-button>
            <mat-icon>block</mat-icon>
          </button>
          <button
            (click)="addNewConnection()"
            mat-raised-button
            color="primary"
            [disabled]="!validConnection"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- enf new connections -->
    </mat-accordion>
    <!-- end connections -->
    <mat-action-row>
      <button mat-raised-button (click)="clearCtx()"><mat-icon>block</mat-icon></button>
      <button mat-raised-button color="primary" [disabled]="!validDevice" (click)="addDevice()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <!-- end add device -->
</mat-accordion>
