<form [formGroup]="connection">
  <div class="row justify-content-center align-items-center">
    <div class="col full-width">
      <mat-form-field>
        <input #name matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="connection.controls.name.invalid">{{ getNameError() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col full-width">
      <mat-form-field>
        <input matInput placeholder="Alias" formControlName="alias" />
        <mat-error *ngIf="connection.controls.alias.invalid">{{ getAliasError() }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col full-width">
      <mat-form-field>
        <input matInput placeholder="class" formControlName="class" />
        <mat-error *ngIf="connection.controls.class.invalid">{{ getVIAError() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col full-width">
      <mat-form-field>
        <input matInput placeholder="via" formControlName="via" />
      </mat-form-field>
    </div>
  </div>
</form>
